DJANGO_SECRET_KEY=''

POSTGRES_DB=''
POSTGRES_USER=''
POSTGRES_PASSWORD=''
POSTGRES_HOST=''
POSTGRES_PORT=''

REDIS_HOST=''
REDIS_PORT=''

OPENSEARCH_PORT=''
OPENSEARCH_DASHBOARD_PORT=''
OPENSEARCH_INITIAL_ADMIN_PASSWORD=''

DJANGO_APP_PORT=''
OSKAR_APP_PORT=''

ES_HOST=''
ES_PORT=''